<LiquidDestination @name="some-destination" />

<button type="button" {{on "click" this.showWormhole}}>
  Show Wormhole
</button>

{{#if showWormhole}}
  <LiquidWormhole @to="some-destination" @class="blue-box">
    Testing
  </LiquidWormhole>
{{/if}}
