<button data-test-toggle-inner type="button" {{on "click" this.toggleContent}}>
  Toggle Inner Content
</button>

<LiquidWormhole @class="blue-box">
  <div id="content-box">
    {{#liquid-if predicate=this.showingOther}}
      <span id="showing-other">
        Show Other
      </span>
    {{else}}

      <span id="not-showing-other">
        Don't Show Other
      </span>
    {{/liquid-if}}
  </div>
</LiquidWormhole>