<button data-test-toggle-inner type="button" {{on "click" this.toggleContent}}>
  Toggle Inner Content
</button>

<LiquidWormhole @class="blue-box">
  <div id="content-box">
    <LiquidIf @predicate={{this.showingOther}}>
      <:true>
        <span id="showing-other">
          Show Other
        </span>
      </:true>
      <:false>
        <span id="not-showing-other">
          Don't Show Other
        </span>
      </:false>
    </LiquidIf>
  </div>
</LiquidWormhole>