<LiquidDestination @name="some-target"/>

<button type="button" {{action "showWormhole"}}>
  Show Wormhole
</button>

{{#if this.showWormhole}}
  <LiquidWormhole @to="some-target" @class="blue-box">
    Testing
  </LiquidWormhole>
{{/if}}
