{{#unless this.hideWormhole}}
  <LiquidWormhole @class="blue-box">
    <TestComponent @action={{this.toggleWormhole}} as |someAction|>
      <button data-test-toggle-wormhole type="button" {{on "click" someAction}}>
        Toggle Wormhole
      </button>
    </TestComponent>
  </LiquidWormhole>
{{/unless}}