{{#unless hideWormhole}}
  <LiquidWormhole @class="blue-box">
    <TestComponent @action={{action "toggleWormhole"}} as |someAction|>
      <button data-test-toggle-wormhole type="button" {{action someAction}}>Toggle Wormhole</button>
    </TestComponent>
  </LiquidWormhole>
{{/unless}}
