<button data-test-toggle-wormhole type="button" {{action "toggleWormhole"}}>Toggle Wormhole</button>

{{#unless hideWormhole}}
  <LiquidWormhole @class="blue-box">
    <TestComponent>
      testing123
    </TestComponent>
  </LiquidWormhole>
{{/unless}}
