<button
  data-test-toggle-wormhole
  type='button'
  {{on 'click' this.toggleWormhole}}
>
  Toggle Wormhole
</button>

{{#unless this.hideWormhole}}
  <LiquidWormhole @class='blue-box'>
    <TestComponent>
      testing123
    </TestComponent>
  </LiquidWormhole>
{{/unless}}